{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>About Braille Character Recognition</h1>

    <p>Braille Character Recognition is a web base app which takes a input images containing a grade 1 braille letter and then maps it into its natural language counterpart by the help of artificial neural network.<p>
    <p>The application is built for the fulfillment of final year project of Bsc.CSIT. This application belongs to Bidur Banstola.<p>
</div>
{% endblock %}