<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Braille Recognition System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#d4e6f1">
{% include 'includes/_navbar.html' %}
<div class="container">
{% block body %}{% endblock %}
<br>
<br>
<br>
</div>
{% include'includes/_footer.html' %}


</body>
</html>